@import url('https://fonts.maateen.me/solaiman-lipi/font.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'SolaimanLipi', sans-serif;
}

.amount {
  font-size: 45px;
  font-weight: bold;
}

#income-btn {
  width: 100%;
  padding: 7px;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}

li:nth-child(even) {
  background: #424242;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

li:nth-child(odd) {
  background: #363636;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

ol {
  counter-reset: myOrderedListItemsCounter;
  padding: 0;
}

ol li {
  list-style-type: none;
  position: relative;
}

ol li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter)".";
  margin-right: .5em;
}

#iamm,
#eamm {
  text-align: right;
}

/*  */


.sidebars {
  position: fixed;
  height: 100%;
  width: 240px;
  transition: all 0.5s ease;
}

.sidebars.active {
  width: 60px;
}

.sidebars .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.sidebars .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.sidebars .logo-details img {
  width: 40px;
}

.sidebars .logo-details .logo_name {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left: 15px;
}

.sidebars .nav-links {
  margin-top: 10px;
  padding: 0;
}

.sidebars .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebars .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebars .nav-links li a.active {
  background: #36b9cc;
}

.sidebars .nav-links li a:hover {
  background: #1cc88a;
}

.sidebars .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebars .nav-links li a .links_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebars .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebars.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.sidebars.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.topbar .sidebars-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.topbar .sidebars-button i {
  font-size: 25px;
  margin-right: 20px;
}

#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  position: relative;
  width: calc(100% - 240px);
  left: 240px;
  background-color: #f8f9fc;
  transition: all 0.5s ease;
}

.sidebars.active~#content-wrapper {
  width: calc(100% - 60px) !important;
  left: 60px !important;
}


@media (max-width: 1240px) {
  #content-wrapper {
    width: calc(100% - 0px) !important;
    left: 0px !important;
  }

  #content-wrapper nav.topbar {
    width: calc(100% - 0px) !important;
    left: 0px !important;
  }

  .dashboard-show {
    display: none !important;
  }
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebars {
    width: 60px;
  }

  .sidebars.active {
    width: 220px;
  }

  .sidebars.active~.home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }

  .sidebars.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 700px) {

  nav .sidebars-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
}

@media (max-width: 550px) {
  .sidebars.active~.home-section nav .profile-details {
    display: none;
  }
}

.dashboard-show {
  display: block;
  transition: all 0.5s ease;
  cursor: auto;
}

.dashboard {
  display: none;
  transition: all 0.5s ease;
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
}
